.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.listItem {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.employees {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex: 1;
}

.employeesAvatar {
  display: flex;
  align-items: flex-start;
}

.positions {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  display: flex;
  align-items: center;
  gap: 8px;
}